Assets/schema/2011/common/Article.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Text.xsd" namespace="http://schema.org/Text" />
  <xs:import schemaLocation="CreativeWork.xsd" namespace="http://schema.org/CreativeWork" />
  <xs:complexType name="Article">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/CreativeWork" base="q1:CreativeWork">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArticleBody" xmlns:q2="http://schema.org/Text" type="q2:Text" />
  <xs:element name="ArticleSection" xmlns:q3="http://schema.org/Text" type="q3:Text" />
</xs:schema>