Assets/schema/2011/common/CreativeWork.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/CreativeWork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Thing.xsd" namespace="http://schema.org/Thing" />
  <xs:import schemaLocation="AggregateRating.xsd" namespace="http://schema.org/AggregateRating" />
  <xs:import schemaLocation="AudioObject.xsd" namespace="http://schema.org/AudioObject" />
  <xs:import schemaLocation="Person.xsd" namespace="http://schema.org/Person" />
  <xs:import schemaLocation="Organization.xsd" namespace="http://schema.org/Organization" />
  <xs:import schemaLocation="Text.xsd" namespace="http://schema.org/Text" />
  <xs:import schemaLocation="Place.xsd" namespace="http://schema.org/Place" />
  <xs:import schemaLocation="Date.xsd" namespace="http://schema.org/Date" />
  <xs:import schemaLocation="MediaObject.xsd" namespace="http://schema.org/MediaObject" />
  <xs:import schemaLocation="Boolean.xsd" namespace="http://schema.org/Boolean" />
  <xs:import schemaLocation="Offer.xsd" namespace="http://schema.org/Offer" />
  <xs:import schemaLocation="Review.xsd" namespace="http://schema.org/Review" />
  <xs:import schemaLocation="VideoObject.xsd" namespace="http://schema.org/VideoObject" />
  <xs:complexType name="CreativeWork">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/Thing" base="q1:Thing">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="About" xmlns:q2="http://schema.org/Thing" type="q2:Thing" />
  <xs:element name="AggregateRating" xmlns:q3="http://schema.org/AggregateRating" type="q3:AggregateRating" />
  <xs:element name="Audio" xmlns:q4="http://schema.org/AudioObject" type="q4:AudioObject" />
  <xs:element name="Author">
    <xs:complexType>
      <xs:choice>
        <xs:element xmlns:person="http://schema.org/Person" name="Person" type="person:Person" />
        <xs:element xmlns:organization="http://schema.org/Organization" name="Organization" type="organization:Organization" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Awards" xmlns:q5="http://schema.org/Text" type="q5:Text" />
  <xs:element name="ContentLocation" xmlns:q6="http://schema.org/Place" type="q6:Place" />
  <xs:element name="ContentRating" xmlns:q7="http://schema.org/Text" type="q7:Text" />
  <xs:element name="DatePublished" xmlns:q8="http://schema.org/Date" type="q8:Date" />
  <xs:element name="Editor" xmlns:q9="http://schema.org/Person" type="q9:Person" />
  <xs:element name="Encodings" xmlns:q10="http://schema.org/MediaObject" type="q10:MediaObject" />
  <xs:element name="Genre" xmlns:q11="http://schema.org/Text" type="q11:Text" />
  <xs:element name="Headline" xmlns:q12="http://schema.org/Text" type="q12:Text" />
  <xs:element name="InLanguage" xmlns:q13="http://schema.org/Text" type="q13:Text" />
  <xs:element name="InteractionCount" xmlns:q14="http://schema.org/Text" type="q14:Text" />
  <xs:element name="IsFamilyFriendly" xmlns:q15="http://schema.org/Boolean" type="q15:Boolean" />
  <xs:element name="Keywords" xmlns:q16="http://schema.org/Text" type="q16:Text" />
  <xs:element name="Offers" xmlns:q17="http://schema.org/Offer" type="q17:Offer" />
  <xs:element name="Publisher" xmlns:q18="http://schema.org/Organization" type="q18:Organization" />
  <xs:element name="Reviews" xmlns:q19="http://schema.org/Review" type="q19:Review" />
  <xs:element name="Video" xmlns:q20="http://schema.org/VideoObject" type="q20:VideoObject" />
</xs:schema>