Assets/schema/2011/common/GeoCoordinates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/GeoCoordinates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Number.xsd" namespace="http://schema.org/Number" />
  <xs:import schemaLocation="Text.xsd" namespace="http://schema.org/Text" />
  <xs:import schemaLocation="StructuredValue.xsd" namespace="http://schema.org/StructuredValue" />
  <xs:complexType name="GeoCoordinates">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/StructuredValue" base="q1:StructuredValue">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Elevation">
    <xs:complexType>
      <xs:choice>
        <xs:element xmlns:number="http://schema.org/Number" name="Number" type="number:Number" />
        <xs:element xmlns:text="http://schema.org/Text" name="Text" type="text:Text" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Latitude">
    <xs:complexType>
      <xs:choice>
        <xs:element xmlns:number="http://schema.org/Number" name="Number" type="number:Number" />
        <xs:element xmlns:text="http://schema.org/Text" name="Text" type="text:Text" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Longitude">
    <xs:complexType>
      <xs:choice>
        <xs:element xmlns:number="http://schema.org/Number" name="Number" type="number:Number" />
        <xs:element xmlns:text="http://schema.org/Text" name="Text" type="text:Text" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>