Assets/schema/2011/common/MusicPlaylist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/MusicPlaylist" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Integer.xsd" namespace="http://schema.org/Integer" />
  <xs:import schemaLocation="MusicRecording.xsd" namespace="http://schema.org/MusicRecording" />
  <xs:import schemaLocation="CreativeWork.xsd" namespace="http://schema.org/CreativeWork" />
  <xs:complexType name="MusicPlaylist">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/CreativeWork" base="q1:CreativeWork">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NumTracks" xmlns:q2="http://schema.org/Integer" type="q2:Integer" />
  <xs:element name="Tracks" xmlns:q3="http://schema.org/MusicRecording" type="q3:MusicRecording" />
</xs:schema>