Assets/schema/2011/common/TVSeries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/TVSeries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Person.xsd" namespace="http://schema.org/Person" />
  <xs:import schemaLocation="Date.xsd" namespace="http://schema.org/Date" />
  <xs:import schemaLocation="TVEpisode.xsd" namespace="http://schema.org/TVEpisode" />
  <xs:import schemaLocation="MusicGroup.xsd" namespace="http://schema.org/MusicGroup" />
  <xs:import schemaLocation="Number.xsd" namespace="http://schema.org/Number" />
  <xs:import schemaLocation="Organization.xsd" namespace="http://schema.org/Organization" />
  <xs:import schemaLocation="TVSeason.xsd" namespace="http://schema.org/TVSeason" />
  <xs:import schemaLocation="VideoObject.xsd" namespace="http://schema.org/VideoObject" />
  <xs:import schemaLocation="CreativeWork.xsd" namespace="http://schema.org/CreativeWork" />
  <xs:complexType name="TVSeries">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/CreativeWork" base="q1:CreativeWork">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Actors" xmlns:q2="http://schema.org/Person" type="q2:Person" />
  <xs:element name="Director" xmlns:q3="http://schema.org/Person" type="q3:Person" />
  <xs:element name="EndDate" xmlns:q4="http://schema.org/Date" type="q4:Date" />
  <xs:element name="Episodes" xmlns:q5="http://schema.org/TVEpisode" type="q5:TVEpisode" />
  <xs:element name="MusicBy">
    <xs:complexType>
      <xs:choice>
        <xs:element xmlns:person="http://schema.org/Person" name="Person" type="person:Person" />
        <xs:element xmlns:musicGroup="http://schema.org/MusicGroup" name="MusicGroup" type="musicGroup:MusicGroup" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberOfEpisodes" xmlns:q6="http://schema.org/Number" type="q6:Number" />
  <xs:element name="Producer" xmlns:q7="http://schema.org/Person" type="q7:Person" />
  <xs:element name="ProductionCompany" xmlns:q8="http://schema.org/Organization" type="q8:Organization" />
  <xs:element name="Seasons" xmlns:q9="http://schema.org/TVSeason" type="q9:TVSeason" />
  <xs:element name="StartDate" xmlns:q10="http://schema.org/Date" type="q10:Date" />
  <xs:element name="Trailer" xmlns:q11="http://schema.org/VideoObject" type="q11:VideoObject" />
</xs:schema>