Assets/schema/2011/common/TVSeason.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/TVSeason" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Date.xsd" namespace="http://schema.org/Date" />
  <xs:import schemaLocation="TVEpisode.xsd" namespace="http://schema.org/TVEpisode" />
  <xs:import schemaLocation="Number.xsd" namespace="http://schema.org/Number" />
  <xs:import schemaLocation="TVSeries.xsd" namespace="http://schema.org/TVSeries" />
  <xs:import schemaLocation="Integer.xsd" namespace="http://schema.org/Integer" />
  <xs:import schemaLocation="VideoObject.xsd" namespace="http://schema.org/VideoObject" />
  <xs:import schemaLocation="CreativeWork.xsd" namespace="http://schema.org/CreativeWork" />
  <xs:complexType name="TVSeason">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/CreativeWork" base="q1:CreativeWork">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EndDate" xmlns:q2="http://schema.org/Date" type="q2:Date" />
  <xs:element name="Episodes" xmlns:q3="http://schema.org/TVEpisode" type="q3:TVEpisode" />
  <xs:element name="NumberOfEpisodes" xmlns:q4="http://schema.org/Number" type="q4:Number" />
  <xs:element name="PartOfTVSeries" xmlns:q5="http://schema.org/TVSeries" type="q5:TVSeries" />
  <xs:element name="SeasonNumber" xmlns:q6="http://schema.org/Integer" type="q6:Integer" />
  <xs:element name="StartDate" xmlns:q7="http://schema.org/Date" type="q7:Date" />
  <xs:element name="Trailer" xmlns:q8="http://schema.org/VideoObject" type="q8:VideoObject" />
</xs:schema>