Assets/schema/2011/common/WebPage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schema.org/WebPage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Text.xsd" namespace="http://schema.org/Text" />
  <xs:import schemaLocation="CollectionPage.xsd" namespace="http://schema.org/CollectionPage" />
  <xs:import schemaLocation="WebPageElement.xsd" namespace="http://schema.org/WebPageElement" />
  <xs:import schemaLocation="ImageObject.xsd" namespace="http://schema.org/ImageObject" />
  <xs:import schemaLocation="URL.xsd" namespace="http://schema.org/URL" />
  <xs:import schemaLocation="CreativeWork.xsd" namespace="http://schema.org/CreativeWork" />
  <xs:complexType name="WebPage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schema.org/CreativeWork" base="q1:CreativeWork">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Breadcrumb" xmlns:q2="http://schema.org/Text" type="q2:Text" />
  <xs:element name="IsPartOf" xmlns:q3="http://schema.org/CollectionPage" type="q3:CollectionPage" />
  <xs:element name="MainContentOfPage" xmlns:q4="http://schema.org/WebPageElement" type="q4:WebPageElement" />
  <xs:element name="PrimaryImageOfPage" xmlns:q5="http://schema.org/ImageObject" type="q5:ImageObject" />
  <xs:element name="SignificantLinks" xmlns:q6="http://schema.org/URL" type="q6:URL" />
</xs:schema>